.question-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 5%;
}
.options-container {
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  gap: 10%;
  width: 100%;
  height: 60vh;
}
h1 {
  text-align: center;
  font-size: 3em;
}
.stream-container {
  display: block;
  width: 30%;
  height: 30%;
  position: absolute;
  bottom: 2.5%;
  right: 2.5%;
}
img {
  height: auto;
  max-width: 100%;
}
.footer {
  display: flex;
  height: 30vh;
  align-items: center;
}
h3 {
  padding-left: 10%;
  font-size: 2em;
}
