.carousel-container {
   margin-left: 60px;
   margin-top: 30px;
   display: flex;
   gap: 5%;
   justify-content: flex-start;

   z-index: 4;
   height: auto;
   font-family: "DM Sans", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-size: 24px;
   font-style: normal;
}

.cards-wrapper {
   display: flex;
   gap: 25px;
   overflow-x: scroll;
   width: 100%;
   max-width: 875px;
}

.card {

   background-color: #3A3636;
   padding: 30px;
   width: 200px;
   text-align: center;
   height: 200px;
   border-radius: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 5;
}

.card-wrapper {
   display: flex;
   flex-direction: column;
}

.author {
   width: 200px;
   text-overflow: ellipsis;
   overflow-x: hidden;
   text-align: center;
   margin-top: 5px;
}


.button {
   z-index: 6;
   background: none;
   border: none;
}

.grayed {
   filter: contrast(175%) brightness(40%);
}

a {
   margin: 0;
   padding: 0;
}