.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 2.5%; */
  gap: 5vh;
  width: 100vw;
  height: 100vh;
}

.splash-stream-container: img {
  display: block;
  width: 30vw;
  height: 30vh;
  /* position: absolute; */
  /* bottom: 2.5%;
  right: auto;
  left: auto; */
}